<div class="card-columns text-center mx-3">
  <% obj.each do |article| %>
    <div class="card text-left">
      <div class="card-body">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-secondary btn-sm" %>
          <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger btn-sm" %>
        </div>
        <h5 class="card-title"><strong><%= article.title %></strong></h5>
        <p class="card-text"><%= simple_format(truncate(article.description, lenght: 100)) %></p>
        <%= link_to "More", article_path(article), class: "btn btn-dark" %>
      </div>
      <div class="card-footer font-italic" >
        <small>Created by </small><strong><%= link_to article.user.username, user_path(article.user), class:"text-dark" %></strong><br>
        <small><%= time_ago_in_words(article.created_at) %> ago,
        edited <%= time_ago_in_words(article.updated_at) %></small>
      </div>
    </div>
  <% end %>
</div>
